main {
    margin-top: 20vh;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

/*primeira section da tela de login */

.bem-vindo {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/*titulo*/

.bem-vindo h1 {
    color: #f0a834e7;
    font-size: 3.5rem;
}

/*texto sobre o que se trata o site, subtitulo*/

.bem-vindo p {
    color:#f5bc60e7;
    font-size: 2rem;
    width: 30rem;
    letter-spacing: 1.6px;
}

/*botão funcional para a página de login*/

.bem-vindo a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    background-color:  #f5c577e7;
    width: 25%;
    height: 2.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

/*criaçaõ do houver para fazero texto do botão mudar de cor*/

.bem-vindo a:hover {
    background-color:   #ec9a16e7;
    color: #fff065;
}

/*imagem do lado direito do */

main img {
    height: 40vh;
    width: 20vw;
}

.link {
    margin-top: 1%;
}

/*criaçaõ do houver para fazero texto flutuar*/

.texto-flutuar {
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.texto-flutuar:hover {
    animation: floating 1s ease-in-out infinite;
    transform: translateY(-10px);
    transition: 100ms;
}



