main {
    margin-top: 21vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

main h1 {
    font-weight: normal;
    font-size: 2.5rem;
}

main p {
    font-size: 1.3rem;
    text-align: center;
}

main a {
    text-decoration: none;
    color: black;
    height: 3rem;
    width: 10rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid black;
    border-radius: 10px;
    transition: background-color 0.3s;
}

main a:hover {
    background-color: #CDA4FF;
}