* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 8vh;
    background-color: #CDA4FF;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 5px rgb(146, 146, 146);
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin-left: 8%;
}

.header-logo img {
    width: 25%;
}

.header-logo p {
    font-size: 1.3rem;
    font-weight: bold;
}

.header-links {
    display: flex;
    align-items: center;
    margin-right: 8rem;
}

.header-links ol {
    display: flex;
    gap: 5rem;
}

.header-links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

#Sign-in {
    background-color: #DEC3FF;
    height: 2rem;
    width: 4.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-links ul {
    transition: transform 0.3s;
}

.header-links ul:hover {
    transform: scale(1.08);
}