* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 12vh;
    background-color: #CDA4FF;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 5px rgb(146, 146, 146);
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin-left: 4rem;
}

.header-logo img {
    width: 20%;
}

.header-logo p {
    font-size: 1rem;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-right: 4rem;
}

.header-links a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    transition: transform 0.3s;
}

.header-links a:hover {
    transform: scale(1.08);
}

footer {
    margin-top: 25vh;
    width: 100%;
    height: 12vh;
    background-color: #8364a9;
    box-shadow: 0px 0px 10px 5px rgb(146, 146, 146);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 0.8rem;
}