* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 8vh;
    background-color: #CDA4FF;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 5px rgb(146, 146, 146);
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin-left: 14%;
}

.header-logo img {
    width: 25%;
}

.header-logo p {
    font-size: 1rem;
    font-weight: bold;
}

.header-links {
    display: flex;
    align-items: center;
    margin-right: 8rem;
}

.header-links ol {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.header-links a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

#sign-in {
    height: 2rem;
    width: 4.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

#sign-in:hover {
    background-color: #DEC3FF;
}

.link {
    transition: transform 0.3s;
}

.link:hover {
    transform: scale(1.08);
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem;
}

.footer-nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.footer-nav p {
    font-size: 1rem;
}

.footer-nav ol {
    display: flex;
    gap: 0.8rem;
}

.footer-nav a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: rgb(68, 68, 68);
}

#linha {
    width: 22rem;
    height: 2px;
    background-color: #CDA4FF;
}