* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
    width: 100vw;
    height: 90vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

}


.test:hover {
    color: white;
}
/*tema*/

.container.white {
    background-color: #f5efbb;
}

.container.dark {
  background-color: #451580;
}
.container.dark .texto{
  color:rgb(209, 209, 209)
}


/*titulo da pagina */
.perfil {
  color: #4e1d89;
  width: 8rem;
  height: 2rem;
  background-color: #ffffff6e;
  border-radius: 0.5rem;
  margin-top: 2vh;
  margin-right: 37vh;
  text-align: center;
}

/*fundo da tela*/
.blococentral {
  width: 100%;
  height: 92vh;
  margin-top: 1vh;
  background-color: #cda4ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*fundo claro*/
.bloco-centro {
  width: 90vw;
  height: 80vh;
  background-color: #ffffff6e;
  margin: 0;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao-enviar {
  background-color: lightgray;
  color: #997dbd;
  width: 10vh;
  height: 5vh;
  border: none
}
.titulo-escrita {
    margin-bottom: 15px; 
    text-align: center;
}

#campo-escrita {
    width: 20vw; 
    height: 50vh;
    padding: 10px;
    border-radius: 5px;
    border: rgba(171, 255, 255, 0.795);
    background-color: rgba(171, 255, 255, 0.795); 
    resize: none; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.texto {
  margin-right: 1rem;
  margin-top: 1.1rem;
}



