* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
    width: 100vw;
    height: 90vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*header*/
header {
    height: 10vh;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-shrink: 0;
    width: 100vw;
}

.cabecalho {
    display: flex;
    flex-direction: row-reverse;
    gap: 200px;
    list-style: none;
    margin-right: 50px;

}

.cabecalho-box {
    display: flex;
}


.logo {
    height: 50px;
    width: 62px;
}

.imagem {
    width: 100%;
    margin-left: 5%;
    justify-content: center;
}

.test {
    color: rgb(31, 30, 30);
    text-decoration: none;
    padding: 10px;
}

.test:hover {
    color: white;
}
/*tema*/
/*header js*/

.header.claro {
  transition: 1s;
  background-color: #f5c577e7;
  color: #000000;
  box-shadow: 1px 1px 7px 1px rgba(255, 0, 0, 0.2);
}

/* Tema Escuro */
.header.escuro {
  transition: 1s;
  background-color: #53199a;
  color: white;
  box-shadow: 1px 1px 7px 1px rgba(255, 0, 0, 0.2);
}

.header.escuro .test{
  color: white;
  transition: 1s;
}
.header.escuro .imagem{
  color: white;
  filter: invert(1);
  transition: 1s;
}
.container.white {
    background-color: #f5efbb;
    transition: 1s;
}

.container.dark {
  background-color: #451580;
  transition: 1s;
}
.container.dark .texto{
  color:rgb(209, 209, 209)
}






















/*titulo da pagina */
.perfil {
  color: #4e1d89;
  width: 8rem;
  height: 2rem;
  background-color: #ffffff6e;
  border-radius: 0.5rem;
  margin-top: 2vh;
  margin-right: 37vh;
  text-align: center;
}

/*fundo da tela*/
.blococentral {
  width: 100%;
  height: 92vh;
  margin-top: 1vh;
  background-color: #cda4ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*fundo claro*/
.bloco-centro {
  width: 90vw;
  height: 80vh;
  background-color: #ffffff6e;
  margin: 0;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao-enviar {
  background-color: lightgray;
  color: #997dbd;
  width: 10vh;
  height: 5vh;
  border: none
}
.titulo-escrita {
    margin-bottom: 15px; 
    text-align: center;
}

#campo-escrita {
    width: 20vw; 
    height: 50vh;
    padding: 10px;
    border-radius: 5px;
    border: rgba(171, 255, 255, 0.795);
    background-color: rgba(171, 255, 255, 0.795); 
    resize: none; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.texto {
  margin-right: 1rem;
  margin-top: 1.1rem;
}