* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 8vh;
    background-color: #CDA4FF;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin-left: 14%;
}

.header-logo img {
    width: 25%;
}

.header-logo p {
    font-size: 1.3rem;
    font-weight: bold;
}

.header-links {
    display: flex;
    align-items: center;
    margin-right: 8rem;
}

.header-links ol {
    display: flex;
    gap: 5rem;
}

.header-links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

/*titulo da pagin*/

.perfil {
    color: #4e1d89;
    width: 16vh;
    height: 3vh;
    background-color: #ffffff6e;
    border-radius: 1vh;
    margin-top: 2vh;
    margin-right: 10vh;
    text-align: center;
}

.container {
    width: 100%;
    height: 92vh;
    margin-top: 1vh;
    background-color: #cda4ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco-central {
    width: 199.5vh;
    height: 810px;
    background-color: #ffffff6e;
    margin: 2vh;
    margin-left: 2vh;
    border-radius: 1vh;
}

.post-it {
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: rgba(171, 255, 255, 0.795);
    width: 40vh;
    height: 46vh;
    margin-top: 15vh;
    margin-left: 80vh;
    text-align: center;
}


/* --- Telas até 1400px --- */
@media (max-width: 1400px) {
  .header-logo {
    margin-left: 5%;
  }

  .header-links {
    margin-right: 4rem;
  }

  .header-links ol {
    gap: 3rem;
  }

  .bloco-central {
    width: 90%;
    height: auto;
  }

  .post-it {
    margin-left: 0;
    margin-top: 10vh;
  }
}

/* --- Telas até 1100px --- */
@media (max-width: 1100px) {
  header {
    height: auto;
    padding: 1rem 0;
  }

  .header-logo img {
    width: 35%;
  }

  .header-links ol {
    gap: 2rem;
  }

  .post-it {
    width: 35vh;
    height: 40vh;
  }
}

/* --- Telas até 900px (tablet) --- */
@media (max-width: 900px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .header-logo {
    margin-left: 0;
  }

  .header-links {
    margin-right: 0;
  }

  .header-links ol {
    gap: 1.5rem;
  }

  .bloco-central {
    width: 95%;
  }

  .post-it {
    margin: 4vh auto 0 auto;
  }
}

/* --- Telas até 600px (mobile) --- */
@media (max-width: 600px) {
  .header-logo img {
    width: 45%;
  }

  .header-logo p {
    font-size: 1rem;
  }

  .header-links a {
    font-size: 1rem;
  }

  .container {
    height: auto;
    padding: 2vh 0;
  }

  .bloco-central {
    width: 90%;
    height: auto;
  }

  .post-it {
    width: 90%;
    height: auto;
    padding: 2vh;
  }

  .post-it p {
    margin: 1vh;
  }
}

/* --- Telas até 400px (mobile pequeno) --- */
@media (max-width: 400px) {
  .header-links ol {
    flex-direction: column;
    gap: 1rem;
  }

  .perfil {
    width: 20vh;
    margin-right: 0;
  }

  .post-it {
    width: 95%;
  }
.post-it p {
    margin: 2vh;
}

/* Responsividade para telas grandes (entre 1200px e 1500px) */
@media screen and (max-width: 1200px) {
    .header-logo {
        margin-left: 10%;
    }

    .header-logo img {
        width: 20%;
    }

    .header-links ol {
        gap: 3rem;
    }

    .header-links a {
        font-size: 1.1rem;
    }

    .perfil {
        margin-right: 8vh;
    }

    .container {
        flex-direction: column;
    }

    .bloco-central {
        width: 80%;
        height: auto;
        margin-left: 0;
    }

    .post-it {
        width: 30vh;
        height: 40vh;
        margin-left: 50vh;
    }
}

/* Responsividade para telas médias (800px a 1200px) */
@media screen and (max-width: 800px) {
    .header-logo {
        margin-left: 5%;
    }

    .header-logo img {
        width: 15%;
    }

    .header-links ol {
        gap: 2rem;
    }

    .header-links a {
        font-size: 1rem;
    }

    .perfil {
        margin-right: 5vh;
    }

    .container {
        flex-direction: column;
    }

    .bloco-central {
        width: 85%;
        height: auto;
        margin-left: 0;
    }

    .post-it {
        width: 25vh;
        height: 35vh;
        margin-left: 30vh;
    }
}

/* Responsividade para telas pequenas (abaixo de 800px) */
@media screen and (max-width: 500px) {
    .header-logo {
        margin-left: 0;
        text-align: center;
    }

    .header-logo img {
        width: 30%;
    }

    .header-links {
        margin-right: 0;
        margin-top: 1rem;
    }

    .header-links ol {
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }

    .header-links a {
        font-size: 1rem;
    }

    .perfil {
        margin-right: 0;
        margin-top: 1rem;
    }

    .container {
        padding: 1rem;
        flex-direction: column;
    }

    .bloco-central {
        width: 100%;
        height: auto;
    }

    .post-it {
        width: 20vh;
        height: 30vh;
        margin-left: 0;
        margin-top: 1rem;
    }
}
