* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}


/*titulo da pagina */
.perfil {
  font-family: Arial, Helvetica, sans-serif;
  color: #4e1d89;
  width: 10rem;
  height: 2rem;
  background-color: #ffffff6e;
  border-radius: 0.5rem;
  margin-top: 1vh;
  margin-right: 2vh;
  text-align: center;
}

/*fundo da tela*/
.container {
  width: 100%;
  height: 89vh;
  background-color: rgb(230, 210, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*bloco central da tela com os post-its */
.bloco-central {
  width: 90vw;
  max-width: 1000px;
  height: 80vh;
  background-color: rgb(230, 210, 255);
  margin: 0;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*post-it filtrado na busca */

.post-it {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: bold;
  background-color: rgba(171, 255, 255, 0.795);
  width: 25rem;
  height: 24rem;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/*texto do bloco central*/

.post-it p {
  margin-right: 1px;
  margin-top: 1.1px;
  background-color: red;


}

.post-it h3 {
  margin-right: 1px;
  margin-top: 1.1px;
  background-color: red;

}

/*modo claro e escuro*/

.container.white {
  background-color: #f5efbb;
}

.container.dark {
  background-color: #451580;

}

.container.dark .texto {
  color: rgb(0, 0, 0)
}

.container.dark,
.bloco-central {
  background-color: #c18fff30;

}


.container.dark {
  background-color: #451580;
}

.container.dark .texto {
  color: rgb(209, 209, 209)
}