* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/*header*/

header{
  background-color: #CDA4FF;;
  height: 10vh;
  display: flex;
  justify-content: end;
  align-items: center;
  
}
.cabecalho{
  display: flex;
  flex-direction: row-reverse;
  gap: 200px;
  list-style: none;
  margin-right: 50px;
  
}

.cabecalho-box{
  display: flex;
}


.logo{
  height: 50px;
  width: 58px;
}
.imagem{
  width: 100%;
  margin-left: 5%;
}

.test{
  color: rgb(31, 30, 30);
  text-decoration: none;
}

.test:hover{
  color: white;
}

/* titulo do perfil*/

.perfil {
  color: #4e1d89;
  width: 16vh;
  height: 3vh;
  background-color: #ffffff6e;
  border-radius: 1vh;
  margin-top: 2vh;
  margin-right: 10vh;
  text-align: center;

}

/* fundo da tela*/

.blococentral {
    width: 100%;
    height: 92vh;
    margin-top: 1vh;
    background-color: #cda4ff;
}

/* fundo claro da tela*/
.bloco-centro {
    width: 199.5vh;
    height: 810px;
    background-color: #ffffff6e;
    margin: 2vh;
    margin-left: 2vh;
    border-radius: 1vh;
}

/* container dos post its*/
.blocos-container {
    display: grid;
    grid-template-columns: repeat(5,16vh);
    grid-template-rows: repeat(2, 28vh);
    justify-content: space-between;
    gap: 15vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left:15% ;

}

/* post its*/
.bloco-1,
.bloco-2,
.bloco-3,
.bloco-4,
.bloco-5,
.bloco-6,
.bloco-7,
.bloco-8,
.bloco-9,
.bloco-10 {
    width: 27vh;
    height: 37vh;
    border-radius: 1vh;
    transform: translateY(100px);
      opacity: 0;
      animation: levantar 1s ease-out forwards;
}

.bloco-1 {
    background-color: #849DFF;
}
 

.bloco-2{
    background-color: #F68DCF;
}
 

.bloco-3 {
    background-color: #F8BA63;
}
 

.bloco-4 {
    background-color: #9FD377;
}
 

.bloco-5 {
    background-color: #F6D86B;
}
 

.bloco-6 {
    background-color: #8EC054;
}
 

.bloco-7 {
    background-color: #FF7271;
}
 

.bloco-8 {
    background-color: #7CE2E9;
}
 
.bloco-9 {
    background-color: #af71ff;
}

 
.bloco-10 {
    background-color: #ffb671;
}

@keyframes levantar {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

