*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    height: 10vh;
}


/*header*/

header{
    background-color: #CDA4FF;;
    height: 10vh;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.cabecalho{
    display: flex;
    flex-direction: row-reverse;
    gap: 200px;
    list-style: none;
    margin-right: 50px;
    
}

.cabecalho-box{
    display: flex;
}


.logo{
    height: 50px;
    width: 58px;
}
.imagem{
    width: 100%;
    margin-left: 5%;
}

.test{
    color: rgb(31, 30, 30);
    text-decoration: none;
}

.test:hover{
    color: white;
}

/*imagem central*/

