*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
}



header{
    background-color: #CDA4FF;;
    height: 10vh;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.cabecalho{
    display: flex;
    flex-direction: row-reverse;
    gap: 200px;
    list-style: none;
    margin-right: 50px;
}

.cabecalho-box{
    display: flex;
}






.logo{
    height: 50px;
    width: 58px;
}
.imagem{
    width: 100%;
    margin-left: 5%;
}